$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootswatch/paper/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch/paper/bootswatch";
@import "bootstrap-social/bootstrap-social";

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 10px;
}

.account-wall {
  margin-top: 200px;
  padding: 40px 0 20px 0;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.name {
  padding-top: 8.5px;
  color: white;
}

.swap-animation.ng-enter, .swap-animation.ng-leave {
  transition:0.3s linear all;
}

.recommendation-box {
  position: absolute;
  right: 20px;
  z-index: 0;
}