<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>friends graph</title>
    <link type="text/css" rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="app/styles/main.min.css">
</head>
<body ng-app="vkGraphApp">
<div ng-include="<%= view %>"></div>
</body>

<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/d3/build/d3.js"></script>
<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="node_modules/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="node_modules/lodash/lodash.min.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/home.controller.js"></script>
<script type="text/javascript" src="app/graph.service.js"></script>
<script type="text/javascript" src="app/vk.service.js"></script>

</html>