<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <img class="profile-img" src="https://www.wolfram.com/mathematica/new-in-9/enhanced-graphs-and-networks/HTMLImages.en/graph-partitioning-and-cuts/thumb_4.gif"
                     alt="">
                <form class="form-signin">
                    <a href="/api/auth" class="btn btn-block btn-social btn-vk">
                        <span class="fa fa-vk"></span> Sign in with VK
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
